

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	margin: 2px;
 
  background-image: url(images/pexels-adrien-olichon-2387793.jpg);
  background-size: cover;

}
h3{
	padding: 10px;
}



.left{
	
	background:skyblue;
	height: 300px;
	width: 250px;
	float: left;
	background-image: url(doctor-1-e1650961380392.jpeg);
	background-size: cover;
	padding-bottom: 10px;
	border-radius: 15px;
	border-bottom: solid black;
	
	
}
.left-1{
	background:skyblue;
	height: 300px;
	width: 435px;
	float: left;
	padding-left: 100px;
	border-bottom: solid black;
	
}
.right{
	background:skyblue;
	height: 300px;
	width: 250px;
	float: left;
	background-image: url(doctor-1-e1650961380392.jpeg);
	background-size: cover;
	border-radius: 15px;
	border-bottom: solid black;


	
}
.right-1{
	background:skyblue;
	height: 300px;
	width: 435px;
	float: left;
	border-bottom: solid black;

	padding-left: 100px

	
}





